*{
    padding:0;
    margin:0;
    font-family:'Poppins' ;
}

body{
   background-image: url("https://thumbs.dreamstime.com/b/assortment-tropical-fruits-leaves-palm-trees-exot-assortment-tropical-fruits-leaves-palm-trees-120790892.jpg");
   background-repeat: no-repeat;
   background-size: cover ;
}

.Rectangle{
   position: absolute;
   width: 100%;
   height: 83px;
   left: 0px;
   top: 0px;
   background: rgba(255, 255, 255, 0.05);
   border-bottom: 1px solid #424242;
   backdrop-filter: blur(37px);
}

.Nutritional_Analyzer{
   position: absolute;
   width: 325px;
   height: 36px;
   left: 110px;
   top: 23px;

   font-family: 'Poppins';
   font-style: normal;
   font-weight: 1000;
   font-size: 30px;
   line-height: 100%;
   letter-spacing: -0.006em;
   color: hwb(0 91% 8%);
}

.Rectangle .image_5{
    position: absolute;
    width: 52px;
    height: 47.33px;
    left: 35.11px;
    top: 17.33px;

}

button{
    background-color: red;
    width: 112px;
    height: 40px;
    font-size: 15px;
    color: white;
    position:relative;
    left:900px;
    top:20px;
    border-radius: 24px;
    border-color: orange;
    font-family: 'Poppins';
}
button:hover{
    color: #fafafa;
    background-color: orange;
    border-color: yellow;
    font-size: 15px;
    font-weight: bolder;
}
.content img{
    position: relative;
    top:200px;
    height: 300px;
    width:400px;
    left:40px;
    border-radius: 40px 0;
}
.content1{
    color: white;
    position: relative;
    font-size: 30px;
    font-weight:1000;
    left: 500px;
    animation: blink 8s infinite;
    -webkit-animation: blink 8s infinite;
}

h1 {
  font-size: 40px;
  position:relative;
  right:50px;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: 'Poppins';
  text-align: center;
  animation: blink 11s infinite;
  -webkit-animation: blink 11s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}